@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --sans: "Oxygen", sans-serif;
  --mono: "Oxygen Mono", monospace;
  --font-size: 1.3rem;
}

body{
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white)    
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}